.content {
  background-color: #4b4b4b;
  padding: 4rem 5rem;
  position: relative;
  border-bottom: 1px solid #d0d0d0;
  position: relative;
}

.title {
  font-size: 5rem;
  margin: 0;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.5px;
}

.subtitle {
  font-size: 2rem;
  color: #d3d3d3;
  margin-top: 0.5rem;
  font-weight: 400;
  font-style: italic;
}
